body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#000000;
    background-image: url(nether.png);
    font-size: medium;
    text-align: center;

    
    }
    
    header {
    background-color: #64018b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    }
    
    nav {
    display: flex;
    justify-content: center;
    background-color: #c021ff;
    }
    
    nav a {
    color: hsl(0, 13%, 91%);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    }
    
    nav a:hover {
    background-color: #000000;
    }
   
    main {
    padding: 20px;
    color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    
    footer {
    background-color: #64018b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    }


    .Diogo{
        color: #ffffff;
        height: 60px;
        font-size: 35px;
        text-align: center;
    }
    
    .Carlos{
        color: #ffffff;
        height: 60px;
        font-size: 35px;
    }

    .Dhemitri{
        color: #ffffff;
        height: 60px;
        font-size: 35px;
        text-align: center;
    }

    .Ana{
        color: #ffffff;
        height: 60px;
        font-size: 35px;
        text-align: center;
    }

    .Necle{
        color: #fafafa;
        height: 60px;
        font-size: 35px;
        text-align: center;
    }


